/*
Theme Name: Zelle Lite Child
Theme URI: https://themeisle.com/themes/zerif-lite/
Description: Child Theme based on Zelle LITE
Author: Calixto Ong II
Author URI: https://themeisle.com
Template: zerif-lite
Version: 1.0.0
Text Domain: zerif-lite-child
*/


#post-21 {
	background-image: url("images/bhong.png");
	background-position: right top;
	background-size: auto;
	background-repeat: no-repeat;
}

.entry-content {
	width: 80%;
}
