body,
td,
th {
  font-family: Arial;
}
/* bootstrap overide */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.row {
  overflow: hidden;
}
[class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.glyphicon,
.fa {
  padding-right: 30px;
}
.blue {
  background: #1DC5EA;
  color: #FFFFFF;
}
.white {
  background: #FFFFFF;
  color: #686868;
}
/* TOP */
div.logo {
  margin: 20px 50px 10px 30px;
  float: left;
}
div.top-title h1 {
  margin: 50px 50px 10px 30px;
  width: 80%;
  float: left;
  color: white;
  font-size: 4em;
}
div.top-content {
  margin: 0px 50px 10px 30px;
  padding-bottom: 60px;
  width: 80%;
  color: #FFFFFF;
  font-size: 2em;
}
/* TOP NEWS */
div.news-wrapper {
  width: 90%;
  margin: 50px 0px 50px 50px;
  float: left;
}
div.top-news-title {
  color: #1DC5EA;
  width: 90%;
  font-size: 1em;
  border-bottom: 1px solid #686868;
  clear: left;
}
/* TOP NEWS NAV */
nav#top-news-nav {
  /* background for transparent arrow */
  background-color: #DCDCDC;
  width: 90%;
}
nav#top-news-nav > ul > li > span.arrow {
  width: 40px;
  position: relative;
  left: 40px;
  float: right;
  /* transparent arrow */
  background: transparent url(../images/white-arrow.png) no-repeat right center;
  background-size: 40px 40px;
}
nav#top-news-nav > ul > li {
  list-style-type: none;
  width: 100%;
  margin-left: -40px;
  left: 0px;
  line-height: 40px;
  background-color: #FFFFFF;
}
nav#top-news-nav > ul > li > a {
  color: #686868;
  text-decoration: none;
  font-size: 1em;
}
/* TOP NAV */
#nav-top {
  margin: 0;
  padding: 0;
  clear: left;
}
#nav-top > ul > li {
  display: inline-block;
  list-style-type: none;
}
#nav-top > ul > li > a {
  color: #686868;
  display: block;
  line-height: 40px;
  padding: 0 24px;
  text-decoration: none;
}
/* unvisited link */
#nav-top > ul > li > a:link {
  color: #686868;
}
/* visited link */
#nav-top > ul > li > a:visited {
  color: #686868;
}
/* mouse over link */
#nav-top > ul > li > a:hover {
  color: #686868;
  font-weight: bold;
  text-decoration: none;
}
/* selected link */
#nav-top > ul > li > a:active {
  color: #1DC5EA;
}
@media (max-width: 600px) {
  #nav-top > ul > li {
    width: 80%;
    height: 50px;
    line-height: 50px;
  }
}
/* INTRO */
.intro-image {
  height: 510px;
  width: 100%;
  background-size: cover;
}
@media (max-width: 800px) {
  .intro-image {
    width: 100%;
  }
}
div.intro-block {
  margin: 0px 20px 50px;
  letter-spacing: 0.1em;
}
.intro-title {
  padding-bottom: 30px;
}
#intro-button {
  background-color: #DCDCDC;
  margin: 50px 0px 50px;
}
#intro-button > button {
  border: 1px solid #FFFFFF;
  line-height: 40px;
  text-align: left;
  width: 300px;
  float: left;
  background: transparent url(../images/white-arrow.png) no-repeat right center;
  background-size: 40px 40px;
}
/* CONTACT */
div.contact-block {
  margin: 20px;
}
div.contact-form {
  width: 80%;
  margin: 0 auto 100px;
}
input.btn-contact,
textarea.btn-contact {
  border: 1px solid #FFFFFF;
  padding-left: 10px;
  height: 40px;
  margin: 0px 0px 5px 0px;
  width: 100%;
  background-color: #1DC5EA;
}
input.btn-contact-submit {
  border: 0px solid #FFFFFF;
  font-size: 1.2em;
  height: 40px;
  padding-left: 10px;
  margin: 0px 0px 50px 0px;
  color: #1DC5EA;
  background-color: #FFFFFF;
  width: 100px;
}
textarea.btn-contact {
  height: 100px;
}
/* CONTACT NAV */
nav#contact-links {
  margin-top: 40px;
}
nav#contact-links > ul > li {
  display: block;
  list-style-type: none;
  line-height: 40px;
  font-size: 1.2em;
}
nav#contact-links > ul > li > a {
  text-decoration: none;
  color: #686868;
}
/* FOOTER */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px 20px;
  background-color: #2D2D2D;
  color: #FFFFFF;
  text-align: center;
}
.footer .logo {
  padding: 30px 0;
}
.footer .copyright {
  text-align: right;
  margin: 0;
  padding-bottom: 0 0 10px;
}
nav#footer > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 20px;
  line-height: 40px;
  font-size: 1.2em;
}
nav#footer > ul > li > a {
  font-size: 0.7em;
  font-weight: bold;
  text-decoration: none;
  color: #686868;
}
/* FOOTER NEWS LETTER */
.form-newsletter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
/* Add some margins for each label */
.form-newsletter label {
  margin: 5px 10px 5px 0;
}
.form-newsletter input {
  border: 1px solid #FFFFFF;
  background-color: #2D2D2D;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
}
/* Style the submit button */
.form-newsletter button {
  border: 0px solid #FFFFFF;
  background-color: #1DC5EA;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
}
@media (max-width: 800px) {
  .form-newsletter input {
    margin: 10px 0;
  }
  .form-newsletter {
    flex-direction: column;
    align-items: stretch;
  }
}
