@whitecolor: #FFFFFF;
@graycolor: #686868;
@bluecolor: #1DC5EA;
@arrowcolor: #DCDCDC;
@footerbg: #2D2D2D;

body,td,th {
  font-family: Arial;
}

/* bootstrap overide */

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}



.glyphicon, .fa {
  padding-right: 30px;
}


.blue {
  background: @bluecolor;
  color: @whitecolor;
}

.white {
  background: @whitecolor;
  color: @graycolor;
}

/* TOP */

div.logo {
  margin: 20px 50px 10px 30px;
  float: left;
}

div.top-title h1 {
  margin: 50px 50px 10px 30px;
  width: 80%;
  float: left;
  color: white;
  font-size: 4em;
}

div.top-content {
  margin: 0px 50px 10px 30px;
  padding-bottom: 60px;
  width: 80%;
  color: @whitecolor;
  font-size: 2em;
}




/* TOP NEWS */

div.news-wrapper {
  width: 90%;
  margin: 50px 0px 50px 50px;
  float: left;
}

div.top-news-title {
  color: @bluecolor;
  width: 90%;
  font-size: 1em;
  border-bottom: 1px solid @graycolor;
    clear: left;

}

/* TOP NEWS NAV */

nav#top-news-nav {
  /* background for transparent arrow */
  background-color: @arrowcolor;
  width: 90%;
}

nav#top-news-nav > ul > li > span.arrow {
  width: 40px;
  position: relative;
  left: 40px;
  float: right;
  /* transparent arrow */
  background: transparent url(../images/white-arrow.png) no-repeat right center;
  background-size: 40px 40px;
}

nav#top-news-nav > ul > li {
  list-style-type: none;
  width: 100%;
  margin-left: -40px;
  left: 0px;
  line-height: 40px;
  background-color: @whitecolor;
}

nav#top-news-nav > ul > li > a {
  // color: #5B5B5B;
  color: @graycolor;
  text-decoration: none;
  font-size: 1em;
}



/* TOP NAV */

#nav-top {
  margin: 0;
  padding: 0;
  clear: left;
}

  #nav-top > ul > li {
        display: inline-block;
        list-style-type: none;
  }

  #nav-top > ul > li > a {
            color: @graycolor;
            display: block;
            line-height: 40px;
            padding: 0 24px;
            text-decoration: none;
  }

  /* unvisited link */
  #nav-top > ul > li > a:link {
    color: @graycolor;
  }

  /* visited link */
  #nav-top > ul > li > a:visited {
    color: @graycolor;
  }

  /* mouse over link */
  #nav-top > ul > li > a:hover {
    color: @graycolor;
    font-weight: bold;
    text-decoration: none;
  }

  /* selected link */
  #nav-top > ul > li > a:active {
    color: @bluecolor;
  }

@media (max-width: 600px) {
    #nav-top > ul > li {
        width: 80%;
        height: 50px;
        line-height: 50px;
  }

}


/* INTRO */

.intro-image {
   height: 510px;
   width: 100%;
   background-size: cover;
}

@media (max-width: 800px) {
  .intro-image {
     width: 100%;
  }

}



div.intro-block {
  margin: 0px 20px 50px;
  letter-spacing: 0.1em;
}

.intro-title {
  padding-bottom: 30px;
}


#intro-button {
  background-color: @arrowcolor;
  margin: 50px 0px 50px;
}

#intro-button > button {
  border: 1px solid @whitecolor;
  line-height: 40px;
  text-align: left;
  width: 300px;
  float: left;
  background: transparent url(../images/white-arrow.png) no-repeat right center;
  background-size: 40px 40px;
}


/* CONTACT */

div.contact-block {
  margin: 20px;
}

div.contact-form {
  width: 80%;
  margin: 0 auto 100px;
}

input.btn-contact, textarea.btn-contact {
  border: 1px solid @whitecolor;
  padding-left: 10px;
  height: 40px;
  margin: 0px 0px 5px 0px;
  width: 100%;
  background-color: @bluecolor;
}

input.btn-contact-submit {
    border: 0px solid @whitecolor;
    font-size: 1.2em;
    height: 40px;
    padding-left: 10px;
    margin: 0px 0px 50px 0px;
    color: #1DC5EA;
    background-color: @whitecolor;
    width: 100px;
}

  textarea.btn-contact {
    height: 100px;
  }


/* CONTACT NAV */

  nav#contact-links {
    margin-top: 40px;
  }
  nav#contact-links > ul > li {
    display: block;
    list-style-type: none;
    line-height: 40px;
    font-size: 1.2em;
  }
    nav#contact-links > ul > li > a {
      text-decoration: none;
      color: @graycolor;
    }


/* FOOTER */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px 20px;
  background-color: @footerbg;
  color: @whitecolor;
  text-align: center;
}

.footer .logo {
  padding: 30px 0;
}

.footer .copyright
{
  text-align: right;
  margin: 0;
  padding-bottom: 0 0 10px;
}

nav#footer > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 20px;
  line-height: 40px;
  font-size: 1.2em;
}

nav#footer > ul > li > a {
  font-size: .7em;
  font-weight: bold;
  text-decoration: none;
  color: @graycolor;
}

/* FOOTER NEWS LETTER */

.form-newsletter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* Add some margins for each label */
.form-newsletter label {
  margin: 5px 10px 5px 0;
}

.form-newsletter input {
  border: 1px solid @whitecolor;
  background-color: @footerbg;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
}

/* Style the submit button */
.form-newsletter button {
  border: 0px solid @whitecolor;
  background-color: @bluecolor;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
}

@media (max-width: 800px) {
  .form-newsletter input {
    margin: 10px 0;
  }

  .form-newsletter {
    flex-direction: column;
    align-items: stretch;
  }
}

